.my-party{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 10px;


    .tr, .thead{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border: 1px solid black;
      padding: 2%;
      box-sizing: border-box;
    
    }

    .thead{
      background-color: lightgrey;
    }

    .grabth{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border: 1px solid black;
      padding: 1%;
      box-sizing: border-box;
      background-color: lightgrey;
    }

    ul{
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 20px;  

        li{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                align-items: center;
                height: 200px;
                width: 170px;
                border: 1px solid lightgrey;

                h3{
                    text-transform: capitalize;
                }

                .price{
                    font-weight: bold;
                }

                img{
                    height: 100px;
                    width: auto;
                }

                button{
                    text-decoration: none;
                    border: 1px solid lightgrey;
                    border-radius: 7px;
                }
            }

        li:hover, li:focus, li:active {
            border: 2px solid #7ae212;
          }

    }
}

  #logOutButton
    {
        background-color: #000;
        color: #fff;

    }
    
     #signOutButton{
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff
    }