:host{
    display:flex;
    flex-direction:column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.items-total, .delivery, .total-cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.items-total {
    border-bottom: 1px solid #ccc;
}

.order-summary {
   align-self: flex-start;
}

.delivery-title {
    font-weight: bold;
}

.delivery-free {
    color: green;
    font-weight: bold;
}

.total-cart h2 {
    font-size: 1.5em;
}

.checkout-button {
    padding: 10px 20px;
    background-color:var(--color-accent);
    color: white;
    border: none;
    border-radius: 20px;
    width: 180px;
    font-size: var(--text-lg);
    font-weight: bold;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: var(--color-accent-mid);
}
