:host{
    display:block;
}

.welcome-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;; 
    border: 1px solid black;
   


}

.welcome-text{
    font-size: var(--text-xl);
    

}