:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.cart-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.cart-card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.delete-item {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.cart-product-image {
  width: auto;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

h2 {
  text-transform: capitalize;
 
}



