:host {
  display: flex;
  flex-direction: row;
  position: relative;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.cart-card {
  display: flex;
  align-items: center;
  padding: 1rem;
 
}

.cart-card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.delete-item {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  
}

.cart-product-image {
  width: auto;
  height: 100px;
  object-fit: cover;
   margin-bottom: var(--space-md);
}

.cart-product-name {
  text-transform: capitalize;
  font-size: 1.2rem;
   margin-bottom: var(--space-sm)
}

.cart-product-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: var(--space-sm)
}

.cart-item-price-controller{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-price {
  font-size: var(--text-lg);
  font-weight: bold;
}

@media (max-width: 768px) { 
  :host {
  flex-direction: column;
}

.total-cart-component-container{
  margin-top: var(--space-md);
}



}
