footer{

   li{
 
        
    }
}
header{


    li{

}
}
cite{


}

h1{
    margin:  auto;
    text-align: center;
}
/*===============
====FORM=======
=================*/
form{
    width: 80%;

    input,
    textarea {

    }
  }
 

aside *{
    display: block;

}
aside img{

}
aside a{
     text-align: center;
}
