
*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

html{
    background-color: black
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: white;

}

main,
footer,
header{
   width: 100vw;
}
  
.index-body{
        background-image: url('../css/img-css/background-index.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .header-index{
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
          background-color: transparent;
       }

        .main-index{
          background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex ;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          row-gap: 20px;

          .container-index{
             display: flex;
             flex-direction: column;
             justify-content: flex-start;
             align-items: center;
             width: 50vw;
              height: 50vh;
    
            .hero-logo{
               display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: 100%;

                h1{
                  font-family: Boldonse, sans-serif;
                  color: #fff;
                  text-shadow: 2px 2px 4px rgb(0, 0, 0);
                  margin: 0 auto;
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 6em;
                }

            }
        }
    }

  #mainProductos, #mainCalculadores{
        overflow-y: scroll;
    }

 
  

    .title{
        color: beige;
        text-shadow: 2px 2px 4px rgb(175 195 110);
    }


    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        overflow:hidden;

      
       
      
    }

    .footer-index{
    
      background:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      background-color: transparent; 


        }
}


        
  .main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(./img-css/background-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #mainUser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #logOutIcon,
    #signOutIcon{
        height: 15px;
        width: auto;
    }



  .main-choose,
  #mainCalculadores,
  #mainProductos,
  #mainCarrito,
  #mainUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 10%;
    background-image: linear-gradient( rgb(224, 135, 56), rgba(0, 0, 0, 1));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
  }


        #busqueda{
            width:200px;
            height: 40px;
        
          }
    
        #botonBuscar{
            width:40px;
            height: 40px;
            background-color: rgb(224, 135, 56)
          }

          

          #inputscalculador{
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
            padding: 5%;          
        }

          #resultados{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;

          table{
            width: 600px;
            height: 300px;
            text-align: center;
            line-height: 40px;
           border: 1px solid black;

            th{
                text-transform: uppercase;
            }
          }

          #save{
            width: 100px;
            height: 40px;
            border-radius: 5px;
            text-transform: uppercase;
            color: white;
            background-color: darkblue;
          }

         
        }

    

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(224, 135, 56);
    }

    .logo-pt{
            width: 100px;
            height: 100px;
  
        }

        #hamMenu{
            width: 50px;
            height: 50px;
            place-self: center;
            margin-right: 10px;
        }

        #underlay{
            z-index: 9;
            position:fixed;
            height:100%;
            width:100%;
            background-color: #0000003e;


        }

       .sidebar{
        z-index: 10;
        position: fixed;
        top: 0;
        right:-100%;;
        width: 300px;
        height: 100vh;
        background-color:rgb(224, 135, 56);
        box-shadow: -5px 0 5px rgb(224, 135, 56); 
         transition: left 0.3s ease;
        }

         .sidebar.active {
     right: 0;
    }

       li{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        padding: 1rem;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: white;

            &:hover{
                text-decoration: underline;
            }
        }
       }
        
       
    


#seleccionador{
    max-width: 200px;
    height:30px
}

  

   
    #already,
    #rejected{
    color: #d84315;
    background-color: #fff3e0;
    padding: 0.5em 1em;
    border-left: 4px solid #ff7043;
    border-radius: 6px;
    font-weight: bold;
    max-width:  400px;
    margin: 0 auto;
}

#registered,
#logged{
    color: #2e7d32;
    background-color: #e8f5e9;
    padding: 0.5em 1em;
    border-left: 4px solid #4caf50;
    border-radius: 6px;
    font-weight: bold;
    max-width:  400px;
    margin: 0 auto;
} 

    &.loading {
        opacity: .5;
      }


.index-buttons-container,
#userArea{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    height:250px;
}

#userArea{
  width: 80%,
}

#btnUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#btnsUser{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 
    gap: 10px;
}

     .index-buttons,
      .user-btn{
        cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
    }

    .index-login,
    #logOutButton
    {
        background-color: #000;
        color: #fff;

    }

    .index-sign
    #signOutButton{
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff
    }



form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10%;
   
    .login-or-sign{
        color:white;
        text-decoration: none;
    }

    input[type="submit"]{
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin: 4px auto;
    }

    input{
        height: 30px;
        width: 70%;
        border-radius: 5px;

    }
  
}



h2{
    font-family: Boldonse, sans-serif;
    color: rgb(224, 135, 56);
    text-transform: uppercase;
    font-size: 1.5em 
}








footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
   background-color: black;
    color: white;
    font-weight: 100;
    font-style: italic;
}

.grey{
    color: lightgrey;

}

a{
    text-decoration: none;

    .item-cocktail-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 1rem;
        color: black;
        font-weight: 100;
        font-style: italic;
        border: 1px solid black;
        cursor:pointer;
    }
}

#formBusqueda{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 10%;
}

  #listaProductos,
  #carrito{
            display: flex;
            flex-direction: row ;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 20px;  
    
            li{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                align-items: center;
                height: 250px;
                width: 200px;
                border: 1px solid lightgrey;
                border-radius: 5px;
                background-color: white ;

                h3{
                    text-transform: capitalize;
                }

                .price{
                    font-weight: bold;
                }

                img{
                    height: 150px;
                    width: auto;
                }

                button{
                    text-decoration: none;
                    border: 1px solid lightgrey;
                    border-radius: 7px;
                    height: 40px;
                    width: 100px;
                    cursor: pointer;
                }
            }

            li:hover, li:focus, li:active {
                border: 2px solid black
              }

    
        }

           .delete-button{
                cursor: pointer;
                justify-self: flex-start;
             
              }

#description{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    gap: 3px;
    padding: 1rem;
    color: black;
    font-weight: 100;
    font-style: italic;
    border: 1px solid black;
    background-color: white;
    max-width: 80%;
    z-index: 10;

    .pop-up-head{
        display: flex;
        justify-content: space-between;
        width: 100%;

      button{
            cursor: pointer;
            background: none;
            border: none;
            size: 40px;
            font-weight: bold;
            color: black;
        }
    }

    .pop-up-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 1rem;
        color: black;
        font-weight: 100;
        font-style: italic;
        background-color: white;
    }

    
}

#description.active{
    transform: translate(-50%, -50%) scale(1);
}

#overlay{
    top:0;
    bottom:0;
    left: 0;
    right:0;
    opacity: 0;
    transition: 200ms ease-in-out;
    position:fixed;
    background:rgba(0, 0, 0, 0.421);
    z-index:9;
    pointer-events: none;

}

#overlay.active{
    opacity:1;
    pointer-events: all;
}

.p-welcome{
    color: black;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    text-shadow: gray 2px 2px 4px;
    width: 80%;

    #userEmail{
        color: #333;
        font-weight: bold;
        text-shadow: none;
    }
}