
*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

html{
    background-color: #888;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-family: sans-serif;
    background-color: white;

    &.container-logo-and-buttons{
        margin: 0 auto;
        max-width: 600px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }

}

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        overflow: scroll;

        #busqueda{
            width:200px;
            height: 40px;
        
          }
    
        #botonBuscar{
            width:40px;
            height: 40px;
            background: #ee6b2f;
          }

          &.container-calculador{
            margin: 0 auto;
            padding: 10%;
            
          }

          #inputscalculador{
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
            padding: 5%;          
        }

          #resultados{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;

          table{
            width: 600px;
            height: 300px;
            text-align: center;
            line-height: 40px;
           border: 1px solid black;

            th{
                text-transform: uppercase;
            }
          }

          #save{
            width: 100px;
            height: 40px;
            border-radius: 5px;
            text-transform: uppercase;
            color: white;
            background-color: darkblue;
          }

         
        }

    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #c3d7a5;
        padding: 1rem;

        menu{
            text-transform:uppercase ;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            a{
                text-decoration: none;
                font-weight: 700;
                color: black;

            }

            li{
                text-decoration: none;
            }
        }

       

    }
    


#seleccionador{
    max-width: 200px;
    height:30px
}

    ul{
        h3{
            text-transform: uppercase;

        &.drink-name{
            text-transform: none;
        }
        }

   
        }

        .carrito,
         .productos{ 
            h3{
                color:rgb(175 195 110);
               font-weight: 300;
             }

            display: flex;	
            flex-direction: row;
            justify-content: space-evenly;
            }

   
     

    

  
   

    &.loading {
        opacity: .5;
      }


.index-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .index-buttons{
        a{
            font-weight: 700;
            color: white;
            text-decoration: none;
        }

        height: 50px;
        width: 100px;
        text-transform: uppercase;
        border: 1px solid black;
        background-color: grey;
        border-radius: 30px;
    }

}


form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10%;
   
    .login-or-sign{
        color:white;
        text-decoration: none;
    }

    input[type="submit"]{
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin: 4px auto;
    }

    input{
        height: 30px;
        width: 70%;
        border-radius: 5px;

    }
  
}

h1{
    font-family: Boldonse, sans-serif;
    color: slategray;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em
}

h2{
    font-family: Boldonse, sans-serif;
    color: #8ae30c;
    text-transform: uppercase;
    font-size: 1.5em 
}



#alreadyRegistered, #rejected{
    background-color: rgb(237 160 60);
    color: red;
    max-width: 600px;
    font-weight: bold;
    margin: 10px auto;
    

}

#registered, #logged{
    background-color: rgb(130 207 74);
    color: rgb(255 255 255);
    max-width: 600px;
    font-weight: bold;
    margin: 10px auto;
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    background-color: #888;
    color: white;
    font-weight: 100;
    font-style: italic;
}

.grey{
    color: lightgrey;

}

a{
    text-decoration: none;

    .item-cocktail-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 1rem;
        color: black;
        font-weight: 100;
        font-style: italic;
        border: 1px solid black;
        cursor:pointer;
    }
}

#description{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    gap: 3px;
    padding: 1rem;
    color: black;
    font-weight: 100;
    font-style: italic;
    border: 1px solid black;
    background-color: white;
    max-width: 80%;
    z-index: 10;

    .pop-up-head{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        max-width: 100%;
        width: 90%;

        button{
            cursor: pointer;
            background: none;
            border: none;
            size: 20px;
            font-weight: bold;
        }
    }

    .pop-up-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 1rem;
        color: black;
        font-weight: 100;
        font-style: italic;
        border: 1px solid black;
        background-color: white;
    }

    
}

#description.active{
    transform: translate(-50%, -50%) scale(1);
}

#overlay{
    top:0;
    bottom:0;
    left: 0;
    right:0;
    opacity: 0;
    transition: 200ms ease-in-out;
    position:fixed;
    background:rgba(0, 0, 0, 0.421);
    z-index:9;
    pointer-events: none;

}

#overlay.active{
    opacity:1;
    pointer-events: all;
}