.to-choose{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
    gap: 10px;
        }

        .light-list, .strong-list{
        width:calc(40% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap ;
       
        }
    
 

    .main-choose{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .img-list-cocktails{
                width: 100px;
                height: 100px;
             }
    }
}

    #mainProductos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        #form-busqueda{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    
        #listaProductos{
            display: flex;
            flex-direction: row ;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 20px;  
    
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 200px;
                width: 170px;
                border: 1px solid lightgrey;

                h3{
                    text-transform: capitalize;
                }

                .price{
                    font-weight: bold;
                }

                img{
                    height: 100px;
                    width: auto;
                }
            }

            li:hover, li:focus, li:active {
                border: 2px solid #7ae212;
              }
    
        }
    }

    #userArea{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 20px;  

      #welcome{
        font-size: 1.5em;
        font-weight: bold;
      }

        #logOutButton, #signOutButton{
            width: 80px;
            height: 40px;
            background-color: lightgrey;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid black;
        }
    }
    
   

 
 
