.cocktail-item {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: auto;

  .img-list-cocktails {
    height: 150px;
    width: auto;
    border-radius: 5px;
    margin-top: 10px;
  }
}