.my-recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;

    .recipe-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 300px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .recipe-data{
        display: flex;
        flex-direction: row;
        align-items: center;

        
        }
      }


    }
  }
