:host {
  display: block;
}

.my-recipes-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}


.recipe-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.recipe-preview-image {
  width: 100px;
  height: 100px;
  
}



.recipe-title {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 6px;
}

.recipe-data {
  display: flex;
 flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ccc;
}


.recipe-products-list {
 display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ccc;
}


.suggested-product-image {
  width: auto;
  height:  100px;
  object-fit: cover;
  margin-left: 10px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
