:host {
  position: fixed;
  inset: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.166);
  width: 100vw;
  height: 100vh;

  .popup-window {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 70%;
    width: 70%;

    }

}