*{
    box-sizing: border-box;
}

body{
    font-family: Taviraj, sans-serif;
 
 

      /*================================================================
    =====================HEADER===================================
    ===================================================================*/

    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: Bungee, sans-serif;
        background-color: brown;             

        h1{
            letter-spacing: 1.5;
            font-size: 3em;
            color: white;
            text-align: center;
        }
  

        ul{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: white;
            }
            a:hover{
                color:black
            }
        }


      
    }

    /*================================================================
    =====================MAIN Y FORMULARIO==================================
    ===================================================================*/
    main{
      
        background-color: bisque;
        border-bottom:2px solid brown;
        
        &.container-formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
            justify-items: center; ;

            h1{
                text-align: center;
            }
           
        }

        
        
        
        h1{
            font-family: bungee, sans-serif;
            font-size: 2em;
        }
        
        
        h2{
            font-size: 2.5em;
            animation: fadeInLeft; 
            animation-duration: 2s ; 
            
        }
        h3{
            font-size: 1.5em;

            
        }
        article{
            padding:10%;

            &.main-article{
                animation: aparecer 2s ease-in-out ;
            }

        }
        figure img, figure figcaption{
        
            display: block;
            
        }
        .galeria{
            display: flex;
            flex-wrap: wrap;
          
        }
        .comentarios{
            padding: 15%;

          
        }
        .comentarios img{
            max-width: 30px;
            border-radius: 50%;
            
        }
        .comentarios p{
            border-bottom: 1px solid brown;
        }
        .mini-form{

            background: linear-gradient(bisque,brown);
            /* padding: 10%; */

        }
       
          /*================================================================
     ==================TAB====================================
     =================================================================*/
        
     
        tbody>tr>td{   
            vertical-align: middle;
        }
        tbody>tr>th{
            vertical-align: middle;
        }
       tbody>tr>td img{
        width: 100%;
       }
       td:has(img) {
        line-height: 0;
      }
      /*================================================================
       =====================FORM====================================
       ===================================================================*/

    form {
        max-width: 60%;
            
          
           fieldset {
            border: none;

           }
          
          fieldset:last-of-type {
            border-bottom: none;

          }

          &.inline-fieldset{
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          
          label {
           display: block;
            
          }
          
          input,
          textarea,
          select {
            
            width: 100%;
            min-height: 2em;

          }
          
          input, textarea {
            background-color: #ffffff;
            border: 1px solid #0a0a23;
            color: #ffffff;

          }
         input[type="radio"] {
            display:inline;

         }
          
         input[type="file"] {
            padding: 1px 2px;

          }
          
         input:invalid,
         select:invalid,
         textarea:invalid {
         border-color: red;

      }



      }
     
    }
    /*================================================================
    =====================ASIDE====================================
    ===================================================================*/
    aside{
        display: flex;
        flex-direction: column;
        justify-content: flex start;
        align-items: center;
        padding:5%;
        background: linear-gradient(bisque,brown);
        row-gap: 20px;

       ol{
            font-family: 'bungee';
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            row-gap: 90px;
        }
        a{
            color: brown;
            text-decoration: none;
            font-size: 1.6em;
        }
        a:hover{
            color:white;
        }
        img{
            width: 70%;
        }
     
    }

    /*================================================================
    =====================FOOOTER==================================
    ===================================================================*/
   
    footer{
        background-color: brown;
        color: bisque;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 20px;
        padding: 5%;

        h2{
            font-family: bungee, sans-serif;
            font-size: 2em;
            }

        ul{
          display:flex;
          flex-direction:column ;
          justify-content: space-between; 
          gap: 15px ;

          a{
            text-decoration: none;
            color: white;
           }
           a:hover{
            color:black
           }
        }

    }

}
@keyframes aparecer {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
    }
 }