form {
  --default-form-bg-color: #666;

  display: flex;
  flex-direction: column;
  background-color: rgb(169, 158, 14);
  padding: 1em;
  border-radius: 5px;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  row-gap: 20px;

 
  .login-or-sign{
      color:white;
      text-decoration: none;
  }
  
      .btn{
        a{
            font-weight: 700;
            color: white;
            text-decoration: none;
        }

        height: 50px;
        width: 100px;
        text-transform: uppercase;
        border: 1px solid black;
        background-color: grey;
        border-radius: 30px;
    }


}