/* stylelint-disable no-descending-specificity */
/* stylelint-disable media-feature-range-notation */

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 1em;
  border-radius: 5px;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  row-gap: 20px;

 
  .login-or-sign{
      color:rgb(224, 135, 56);
      font-weight: bold;
      text-decoration: none;
  }

  .login-or-sign:hover{
      text-decoration: underline;
  }

  .btn{
   cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
    }

    input{
        height: 30px;
        width: 60%;
        border-radius: 5px;

    }


}