/* stylelint-disable no-descending-specificity */
/* stylelint-disable media-feature-range-notation */

.hidden {
  display: none;
}

form {
  --default-form-bg-color: #666;

  display: flex;
  flex-direction: column;
  background-color: rgb(169, 158, 14);
  padding: 1em;
  border-radius: 5px;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  row-gap: 20px;

 
  .login-or-sign{
      color:white;
      text-decoration: none;
  }

  input[type="submit"]{
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin: 4px auto;
    }

    input{
        height: 30px;
        width: 70%;
        border-radius: 5px;

    }

      .btn{
        a{
            font-weight: 700;
            color: white;
            text-decoration: none;
        }

        height: 50px;
        width: 100px;
        text-transform: uppercase;
        border: 1px solid black;
        background-color: grey;
        border-radius: 30px;
    }


}